.container {
  display: flex;
  align-items: center;
  background-color: #a8def7;
}

.title {
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;
}

.searchField {
  flex: 1;
  display: flex;
}

.auth {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .searchField {
    width: 90%;
  }
}
